# --- Required settings even when working locally. ---

# OpenAI API Config
OPENAI_MODEL_ID=gpt-4o-mini
OPENAI_API_KEY=str

# Huggingface API Config
HUGGINGFACE_ACCESS_TOKEN=str

# Comet ML (during training and inference)
COMET_API_KEY=str

# Twilio Config (Heavenly Hands)
TWILIO_ACCOUNT_SID=str
TWILIO_AUTH_TOKEN=str
HH_SECRET_KEY=str
HH_EMAIL_PASSWORD=str

# Netlify OAuth Config (Simple Gallery Upload)
NETLIFY_CLIENT_ID=str
NETLIFY_CLIENT_SECRET=str

# Leonardo AI Config
LEONARDO_AUTH_TOKEN=str

# --- Required settings when deploying the code. ---
# --- Otherwise, default values work fine. ---

# MongoDB database
DATABASE_HOST="mongodb://llm_engineering:llm_engineering@127.0.0.1:27017"

# Qdrant vector database
USE_QDRANT_CLOUD=false
QDRANT_CLOUD_URL=str
QDRANT_APIKEY=str

# AWS Authentication
AWS_ARN_ROLE=str
AWS_REGION=eu-central-1
AWS_ACCESS_KEY=str
AWS_SECRET_KEY=str
