include README.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
include pythons_sort.py
include documentation/CLI.md
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git
