{% import 'gallery_macros.jinja' as gallery_macros %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ gallery_config['title'] }}</title>
  <meta property="og:title" content="{{ gallery_config['title'] }}">
  <meta property="og:description" content="{{ gallery_config['description'] }}">
  <meta property="og:image" content="{{ gallery_config['url'] }}/images/photos/{{ background_photo }}">
  <meta property="og:url" content="{{ gallery_config['url'] }}">
  <meta property="og:site_name" content="{{ gallery_config['title'] }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:alt" content="{{ gallery_config['description'] or gallery_config['title'] }}">

  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/photoswipe.css">
  <link rel="stylesheet" href="css/default-skin.css">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top" aria-label="Go to top">Top</button>
  <button onclick="jumpDown()" id="jumpBtn" title="Down" aria-label="Jump down">Jump Down</button>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Λ∀ʌ†ʌʀ 🦄 ∆ʀ†s</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/shorts.html">Shorts</a></li>
        <li class="nav-item"><a class="nav-link" href="/vidbox.html">Videos</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>

  {{ gallery_macros.section(0, images|length, gallery_config['title'], gallery_config['description'], images) }}


  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <p> {{ gallery_config['title'] }}</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/photoswipe.min.js"></script>
  <script src="js/photoswipe-ui-default.min.js"></script>
  <script src="js/main.js"></script>
  <script>
    window.onscroll = function () {
      scrollFunction();
    };
    function scrollFunction() {
      const myBtn = document.getElementById("myBtn");
      const jumpBtn = document.getElementById("jumpBtn");
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        myBtn.style.display = "block";
        jumpBtn.style.display = "block";
      } else {
        myBtn.style.display = "none";
        jumpBtn.style.display = "none";
      }
    }
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    function jumpDown() {
      window.scrollBy(0, window.innerHeight);
    }
  </script>
  <script>
    document.addEventListener("contextmenu", event => event.preventDefault());
    document.addEventListener("keydown", event => {
      if ([123, 73, 67, 74, 85].includes(event.keyCode) && (event.ctrlKey || event.metaKey)) {
        event.preventDefault();
      }
    });
  </script>
</body>
</html>
