# Requirements for transcribe-analysis
# Generated automatically by generate_requirements.py

IPython
ace_tools
audio_chunker
beautifulsoup4
brand
captions
config
difflib
dotenv
librosa
mimetypes
moviepy
mutagen
numpy
openai
openai-whisper
pandas
pipeline
processing
pydub
requests
scipy
segments
shared
soundfile
sub
termcolor
torch
tqdm
transcription_analyzer
transformers
utilities
video
